@mixin transition(
  $duration: 300ms,
  $timing: "cubic-bezier(0.4, 0, 0.2, 1)",
  $properties...
) {
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-property: $properties;
}
