@use '../../../sass/abstracts/mixins';

.main-header {
  background-color: hsl(var(--bg-secondary));
  color: hsl(var(--fg-muted));
  padding-block: var(--s0);
  padding-inline: var(--s2);

  & .logo {
    font-size: var(--s2);
    color: hsl(var(--accent-500));
  } 

  & .social-link {
    @include mixins.transition(
      300ms,
      cubic-bezier(0.4, 0, 0.2, 1),
      color, background-color, border-color, text-decoration-color, fill, stroke
    );

    &:hover {
      color: hsl(var(--accent-500));
    }
  }

  & .login-logo {
    @include mixins.transition(
      300ms,
      cubic-bezier(0.4, 0, 0.2, 1),
      color, background-color, border-color, text-decoration-color, fill, stroke
    );

    &:hover {
      color: hsl(var(--fg-primary));
    }
  }

}
