.main-header {
  background-color: hsl(var(--bg-secondary));
  color: hsl(var(--fg-muted));
  padding-block: var(--s0);
  padding-inline: var(--s2);

  & .logo {
    font-size: var(--s2);
    color: hsl(var(--accent-500));
  } 

  & .social-link {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    &:hover {
      color: hsl(var(--accent-500));
    }
  }

  & .login-logo {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    &:hover {
      color: hsl(var(--fg-primary));
    }
  }

}
